@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="content">
        <center><h3>Welcome back Administrator!<h3></center>
        <br>
        <div class="row">

            <div class="column">
                <div class="card">
                    <h3>New Applicant</h3>
                    <p>3</p>

                </div>
            </div>

            <div class="column">
                <div class="card">
                    <h3>Active Vacancies</h3>
                    <p>2</p>

                </div>
            </div>
        </div>
    </div>


</div>
