USE [HRSystem]
GO
ALTER TABLE [dbo].[vacancy] DROP CONSTRAINT [DF__vacancy__date_cr__30F848ED]
GO
ALTER TABLE [dbo].[vacancy] DROP CONSTRAINT [DF__vacancy__status__300424B4]
GO
ALTER TABLE [dbo].[Stage] DROP CONSTRAINT [DF__recruitme__statu__2E1BDC42]
GO
ALTER TABLE [dbo].[application] DROP CONSTRAINT [DF__applicati__date___2D27B809]
GO
ALTER TABLE [dbo].[application] DROP CONSTRAINT [DF__applicati__proce__2C3393D0]
GO
/****** Object:  Table [dbo].[vacancy]    Script Date: 08-01-2022 09:56:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vacancy]') AND type in (N'U'))
DROP TABLE [dbo].[vacancy]
GO
/****** Object:  Table [dbo].[User]    Script Date: 08-01-2022 09:56:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[system_settings]    Script Date: 08-01-2022 09:56:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[system_settings]') AND type in (N'U'))
DROP TABLE [dbo].[system_settings]
GO
/****** Object:  Table [dbo].[Stage]    Script Date: 08-01-2022 09:56:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Stage]') AND type in (N'U'))
DROP TABLE [dbo].[Stage]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 08-01-2022 09:56:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Login]') AND type in (N'U'))
DROP TABLE [dbo].[Login]
GO
/****** Object:  Table [dbo].[Home]    Script Date: 08-01-2022 09:56:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Home]') AND type in (N'U'))
DROP TABLE [dbo].[Home]
GO
/****** Object:  Table [dbo].[application]    Script Date: 08-01-2022 09:56:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[application]') AND type in (N'U'))
DROP TABLE [dbo].[application]
GO
USE [master]
GO
/****** Object:  Database [HRSystem]    Script Date: 08-01-2022 09:56:00 ******/
DROP DATABASE [HRSystem]
GO
/****** Object:  Database [HRSystem]    Script Date: 08-01-2022 09:56:00 ******/
CREATE DATABASE [HRSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HRSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HRSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HRSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRSystem]
GO
/****** Object:  Table [dbo].[application]    Script Date: 08-01-2022 09:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Gender] [varchar](20) NULL,
	[Address] [nchar](10) NULL,
	[Experience] [int] NULL,
	[Status] [varchar](20) NULL,
	[Resume] [varchar](50) NULL,
	[VacancyId] [int] NULL,
	[StageId] [int] NULL,
	[DateCreated] [datetime2](7) NULL,
 CONSTRAINT [PK__applicat__3213E83F33EAE46B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Home]    Script Date: 08-01-2022 09:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Home](
	[NewApplicant] [int] NULL,
	[ActiveVacancy] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 08-01-2022 09:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stage]    Script Date: 08-01-2022 09:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[StatusLabel] [varchar](200) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK__recruitm__3213E83FD32681C7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_settings]    Script Date: 08-01-2022 09:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_settings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [text] NOT NULL,
	[email] [varchar](200) NOT NULL,
	[contact] [varchar](20) NOT NULL,
	[cover_img] [text] NOT NULL,
	[about_content] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 08-01-2022 09:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Contact] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vacancy]    Script Date: 08-01-2022 09:56:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vacancy](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[position] [varchar](200) NOT NULL,
	[availability] [int] NOT NULL,
	[description] [varchar](max) NULL,
	[status] [varchar](20) NULL,
	[date_created] [datetime2](7) NULL,
	[Experience] [decimal](10, 3) NULL,
	[Skills] [varchar](max) NULL,
 CONSTRAINT [PK__vacancy__3213E83F287E3D1C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[application] ON 

INSERT [dbo].[application] ([id], [FirstName], [MiddleName], [LastName], [Email], [Phone], [Gender], [Address], [Experience], [Status], [Resume], [VacancyId], [StageId], [DateCreated]) VALUES (4, N'Nikita', N's', N'Parve', N'n@gmail.com', N'23232', N'F', N'a         ', 2, N'Active', N'N', 1, 1, CAST(N'2021-12-22T08:42:08.1933333' AS DateTime2))
INSERT [dbo].[application] ([id], [FirstName], [MiddleName], [LastName], [Email], [Phone], [Gender], [Address], [Experience], [Status], [Resume], [VacancyId], [StageId], [DateCreated]) VALUES (5, N'ABhij', N'a', N'Joshi', N'aj@gmail.com', N'4254', N'M', N'b         ', 2, N'Active', N'A', 2, 1, CAST(N'2021-12-22T08:43:36.6666667' AS DateTime2))
INSERT [dbo].[application] ([id], [FirstName], [MiddleName], [LastName], [Email], [Phone], [Gender], [Address], [Experience], [Status], [Resume], [VacancyId], [StageId], [DateCreated]) VALUES (7, N'Pooja', N'd', N'Pagar', N'p@gmail.com', N'3435465', N'F', N'c         ', 3, N'Active', N'P', 3, 1, CAST(N'2021-12-22T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[application] OFF
GO
INSERT [dbo].[Login] ([UserName], [Password]) VALUES (N'Abhi', N'A123')
GO
SET IDENTITY_INSERT [dbo].[Stage] ON 

INSERT [dbo].[Stage] ([id], [StatusLabel], [Status]) VALUES (1, N'PASSED II	', 1)
INSERT [dbo].[Stage] ([id], [StatusLabel], [Status]) VALUES (2, N'For Initial Interview', 1)
INSERT [dbo].[Stage] ([id], [StatusLabel], [Status]) VALUES (3, N'For Final Interview', 1)
SET IDENTITY_INSERT [dbo].[Stage] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Address], [Contact], [UserName], [Password], [Role]) VALUES (1, N'Abhijit', N'Wagholi', N'9090096', N'AJ', N'Aj1143', N'manager')
INSERT [dbo].[User] ([Id], [Name], [Address], [Contact], [UserName], [Password], [Role]) VALUES (2, N'nikita', N'nagar', N'8080909', N'NP', N'NIK6', N'manager')
INSERT [dbo].[User] ([Id], [Name], [Address], [Contact], [UserName], [Password], [Role]) VALUES (3, N'suraj', N'kolhapur', N'7907680', N'SB', N'SUR12', N'manager')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[vacancy] ON 

INSERT [dbo].[vacancy] ([id], [position], [availability], [description], [status], [date_created], [Experience], [Skills]) VALUES (1, N'JavaDevoloper', 7, N'aa', N'Active', CAST(N'2021-12-22T00:00:00.0000000' AS DateTime2), CAST(1.000 AS Decimal(10, 3)), N'java')
INSERT [dbo].[vacancy] ([id], [position], [availability], [description], [status], [date_created], [Experience], [Skills]) VALUES (2, N'WebDevoloper', 5, N'bb', N'Active', CAST(N'2021-11-21T00:00:00.0000000' AS DateTime2), CAST(2.000 AS Decimal(10, 3)), N'html')
INSERT [dbo].[vacancy] ([id], [position], [availability], [description], [status], [date_created], [Experience], [Skills]) VALUES (3, N'DotNetDevoloper', 10, N'cc', N'Active', CAST(N'2021-12-22T09:12:19.0400000' AS DateTime2), CAST(3.000 AS Decimal(10, 3)), N'c#')
SET IDENTITY_INSERT [dbo].[vacancy] OFF
GO
ALTER TABLE [dbo].[application] ADD  CONSTRAINT [DF__applicati__proce__2C3393D0]  DEFAULT ((0)) FOR [StageId]
GO
ALTER TABLE [dbo].[application] ADD  CONSTRAINT [DF__applicati__date___2D27B809]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Stage] ADD  CONSTRAINT [DF__recruitme__statu__2E1BDC42]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[vacancy] ADD  CONSTRAINT [DF__vacancy__status__300424B4]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[vacancy] ADD  CONSTRAINT [DF__vacancy__date_cr__30F848ED]  DEFAULT (getdate()) FOR [date_created]
GO
USE [master]
GO
