USE [HRSystem]
GO
/****** Object:  StoredProcedure [dbo].[GetStage]    Script Date: 11-06-2022 18:16:31 ******/
DROP PROCEDURE [dbo].[GetStage]
GO
/****** Object:  StoredProcedure [dbo].[GetNewStageData]    Script Date: 11-06-2022 18:16:31 ******/
DROP PROCEDURE [dbo].[GetNewStageData]
GO
ALTER TABLE [dbo].[vacancy] DROP CONSTRAINT [DF__vacancy__date_cr__30F848ED]
GO
ALTER TABLE [dbo].[vacancy] DROP CONSTRAINT [DF__vacancy__status__300424B4]
GO
ALTER TABLE [dbo].[application] DROP CONSTRAINT [DF__applicati__date___2D27B809]
GO
ALTER TABLE [dbo].[application] DROP CONSTRAINT [DF__applicati__proce__2C3393D0]
GO
/****** Object:  Table [dbo].[vacancy]    Script Date: 11-06-2022 18:16:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vacancy]') AND type in (N'U'))
DROP TABLE [dbo].[vacancy]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 11-06-2022 18:16:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRole]') AND type in (N'U'))
DROP TABLE [dbo].[UserRole]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11-06-2022 18:16:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[TimeSheet]    Script Date: 11-06-2022 18:16:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TimeSheet]') AND type in (N'U'))
DROP TABLE [dbo].[TimeSheet]
GO
/****** Object:  Table [dbo].[system_settings]    Script Date: 11-06-2022 18:16:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[system_settings]') AND type in (N'U'))
DROP TABLE [dbo].[system_settings]
GO
/****** Object:  Table [dbo].[Stage]    Script Date: 11-06-2022 18:16:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Stage]') AND type in (N'U'))
DROP TABLE [dbo].[Stage]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 11-06-2022 18:16:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Login]') AND type in (N'U'))
DROP TABLE [dbo].[Login]
GO
/****** Object:  Table [dbo].[Home]    Script Date: 11-06-2022 18:16:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Home]') AND type in (N'U'))
DROP TABLE [dbo].[Home]
GO
/****** Object:  Table [dbo].[FeedType]    Script Date: 11-06-2022 18:16:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FeedType]') AND type in (N'U'))
DROP TABLE [dbo].[FeedType]
GO
/****** Object:  Table [dbo].[Feeds]    Script Date: 11-06-2022 18:16:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Feeds]') AND type in (N'U'))
DROP TABLE [dbo].[Feeds]
GO
/****** Object:  Table [dbo].[application]    Script Date: 11-06-2022 18:16:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[application]') AND type in (N'U'))
DROP TABLE [dbo].[application]
GO
USE [master]
GO
/****** Object:  Database [HRSystem]    Script Date: 11-06-2022 18:16:31 ******/
DROP DATABASE [HRSystem]
GO
/****** Object:  Database [HRSystem]    Script Date: 11-06-2022 18:16:31 ******/
CREATE DATABASE [HRSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HRSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HRSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HRSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRSystem]
GO
/****** Object:  Table [dbo].[application]    Script Date: 11-06-2022 18:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Gender] [varchar](20) NULL,
	[Address] [nchar](10) NULL,
	[Experience] [int] NULL,
	[Status] [varchar](20) NULL,
	[Resume] [varchar](50) NULL,
	[VacancyId] [int] NULL,
	[StageId] [int] NULL,
	[DateCreated] [datetime2](7) NULL,
 CONSTRAINT [PK__applicat__3213E83F33EAE46B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feeds]    Script Date: 11-06-2022 18:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feeds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TextData] [nvarchar](max) NULL,
	[Heading] [nvarchar](500) NULL,
	[ShortNotes] [nvarchar](500) NULL,
	[FeedTypeId] [int] NULL,
	[Link] [nvarchar](2000) NULL,
	[UserName] [nvarchar](100) NULL,
	[FeedDate] [datetime] NULL,
 CONSTRAINT [PK_Feeds_Id] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedType]    Script Date: 11-06-2022 18:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeText] [nvarchar](100) NULL,
 CONSTRAINT [PK_FeedType_Id] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Home]    Script Date: 11-06-2022 18:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Home](
	[NewApplicant] [int] NULL,
	[ActiveVacancy] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 11-06-2022 18:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stage]    Script Date: 11-06-2022 18:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[StatusLabel] [varchar](200) NOT NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK__recruitm__3213E83FD32681C7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_settings]    Script Date: 11-06-2022 18:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_settings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [text] NOT NULL,
	[email] [varchar](200) NOT NULL,
	[contact] [varchar](20) NOT NULL,
	[cover_img] [text] NOT NULL,
	[about_content] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSheet]    Script Date: 11-06-2022 18:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSheet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Heading] [nvarchar](500) NULL,
	[ShortNotes] [nvarchar](500) NULL,
	[TimeSpend] [numeric](10, 4) NULL,
	[TaskStartDate] [datetime] NULL,
	[TaskEndDate] [datetime] NULL,
	[TaskDate] [datetime] NULL,
 CONSTRAINT [PK_TimeSheet_Id] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11-06-2022 18:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Contact] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[ReportsTo] [varchar](30) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 11-06-2022 18:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](20) NULL,
	[UserRole] [nvarchar](20) NULL,
	[Email] [nvarchar](20) NULL,
 CONSTRAINT [PK_Role_Id] PRIMARY KEY CLUSTERED 
(
	[Id] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vacancy]    Script Date: 11-06-2022 18:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vacancy](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[position] [varchar](200) NOT NULL,
	[description] [varchar](max) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[date_created] [datetime2](7) NOT NULL,
	[Experience] [decimal](10, 3) NOT NULL,
	[Skills] [varchar](max) NOT NULL,
	[Document] [nvarchar](max) NULL,
 CONSTRAINT [PK__vacancy__3213E83F287E3D1C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[application] ON 

INSERT [dbo].[application] ([id], [FirstName], [MiddleName], [LastName], [Email], [Phone], [Gender], [Address], [Experience], [Status], [Resume], [VacancyId], [StageId], [DateCreated]) VALUES (4, N'Nikita', N's', N'Parve', N'n@gmail.com', N'23232', N'Female', N'a         ', 2, N'Active', N'N', 1, 1, CAST(N'2021-12-22T08:42:08.1933333' AS DateTime2))
INSERT [dbo].[application] ([id], [FirstName], [MiddleName], [LastName], [Email], [Phone], [Gender], [Address], [Experience], [Status], [Resume], [VacancyId], [StageId], [DateCreated]) VALUES (5, N'ABhij', N'a', N'Joshi', N'aj@gmail.com', N'4254', N'Male', N'b         ', 2, N'Active', N'A', 2, 1, CAST(N'2021-12-22T08:43:36.6666667' AS DateTime2))
INSERT [dbo].[application] ([id], [FirstName], [MiddleName], [LastName], [Email], [Phone], [Gender], [Address], [Experience], [Status], [Resume], [VacancyId], [StageId], [DateCreated]) VALUES (7, N'Pooja', N'd', N'Pagar', N'p@gmail.com', N'3435465', N'Female', N'c         ', 3, N'Active', N'P', 3, 1, CAST(N'2021-12-22T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[application] OFF
GO
INSERT [dbo].[Login] ([UserName], [Password]) VALUES (N'Abhi', N'A123')
GO
SET IDENTITY_INSERT [dbo].[Stage] ON 

INSERT [dbo].[Stage] ([id], [StatusLabel], [Status]) VALUES (1, N'Stage 0 Passed', NULL)
INSERT [dbo].[Stage] ([id], [StatusLabel], [Status]) VALUES (2, N'Stage 0 Failed', NULL)
INSERT [dbo].[Stage] ([id], [StatusLabel], [Status]) VALUES (3, N'Stage I Passed', NULL)
SET IDENTITY_INSERT [dbo].[Stage] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSheet] ON 

INSERT [dbo].[TimeSheet] ([Id], [UserName], [Heading], [ShortNotes], [TimeSpend], [TaskStartDate], [TaskEndDate], [TaskDate]) VALUES (28, N'Sunil', N'Moving Usecase to prod', N'Deployement', CAST(2.0000 AS Numeric(10, 4)), CAST(N'2022-08-02T13:11:00.000' AS DateTime), CAST(N'2022-08-02T15:11:00.000' AS DateTime), CAST(N'2022-08-02T15:11:00.000' AS DateTime))
INSERT [dbo].[TimeSheet] ([Id], [UserName], [Heading], [ShortNotes], [TimeSpend], [TaskStartDate], [TaskEndDate], [TaskDate]) VALUES (27, N'Sunil', N'Moving Usecase to prod', N'Deployement', CAST(2.0000 AS Numeric(10, 4)), CAST(N'2022-08-02T13:11:00.000' AS DateTime), CAST(N'2022-08-02T15:11:00.000' AS DateTime), CAST(N'2022-08-02T15:11:00.000' AS DateTime))
INSERT [dbo].[TimeSheet] ([Id], [UserName], [Heading], [ShortNotes], [TimeSpend], [TaskStartDate], [TaskEndDate], [TaskDate]) VALUES (26, N'Sunil', N'Moving Usecase to prod', N'Deployement', CAST(2.0000 AS Numeric(10, 4)), CAST(N'2022-08-02T13:11:00.000' AS DateTime), CAST(N'2022-08-02T15:11:00.000' AS DateTime), CAST(N'2022-08-02T15:11:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TimeSheet] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Address], [Contact], [UserName], [Password], [Role], [ReportsTo]) VALUES (1, N'Abhijit', N'Wagholi', N'9090096', N'AJ', N'abc', N'manager', NULL)
INSERT [dbo].[User] ([Id], [Name], [Address], [Contact], [UserName], [Password], [Role], [ReportsTo]) VALUES (2, N'nikita', N'nagar', N'8080909', N'NP', N'abc', N'manager', N'AJ')
INSERT [dbo].[User] ([Id], [Name], [Address], [Contact], [UserName], [Password], [Role], [ReportsTo]) VALUES (3, N'suraj', N'kolhapur', N'7907680', N'SB', N'abc', N'manager', N'AJ')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([Id], [UserName], [UserRole], [Email]) VALUES (6, N'Sunil', N'Associate', N'sunil@gmail.com')
INSERT [dbo].[UserRole] ([Id], [UserName], [UserRole], [Email]) VALUES (5, N'Virat', N'Associate', N'virat@gmail.com')
INSERT [dbo].[UserRole] ([Id], [UserName], [UserRole], [Email]) VALUES (4, N'Leo', N'Intern', N'leo@gmail.com')
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
SET IDENTITY_INSERT [dbo].[vacancy] ON 

INSERT [dbo].[vacancy] ([id], [position], [description], [status], [date_created], [Experience], [Skills], [Document]) VALUES (2, N'WebDevoloper', N'bb', N'Active', CAST(N'2021-11-21T00:00:00.0000000' AS DateTime2), CAST(2.000 AS Decimal(10, 3)), N'html css asp .net', NULL)
INSERT [dbo].[vacancy] ([id], [position], [description], [status], [date_created], [Experience], [Skills], [Document]) VALUES (3, N'DotNetDevoloper', N'cc', N'Active', CAST(N'2021-12-22T09:12:19.0400000' AS DateTime2), CAST(3.000 AS Decimal(10, 3)), N'c#', NULL)
INSERT [dbo].[vacancy] ([id], [position], [description], [status], [date_created], [Experience], [Skills], [Document]) VALUES (4, N'AndroidDevoloper', N'dd', N'Active', CAST(N'2020-10-11T00:00:00.0000000' AS DateTime2), CAST(1.000 AS Decimal(10, 3)), N'java', NULL)
SET IDENTITY_INSERT [dbo].[vacancy] OFF
GO
ALTER TABLE [dbo].[application] ADD  CONSTRAINT [DF__applicati__proce__2C3393D0]  DEFAULT ((0)) FOR [StageId]
GO
ALTER TABLE [dbo].[application] ADD  CONSTRAINT [DF__applicati__date___2D27B809]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[vacancy] ADD  CONSTRAINT [DF__vacancy__status__300424B4]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[vacancy] ADD  CONSTRAINT [DF__vacancy__date_cr__30F848ED]  DEFAULT (getdate()) FOR [date_created]
GO
/****** Object:  StoredProcedure [dbo].[GetNewStageData]    Script Date: 11-06-2022 18:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetNewStageData]
	 
	@Id int = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 'a' as  Name, 'ss' as  Data From Stage Where ID =isNUll(@Id,ID)
END
GO
/****** Object:  StoredProcedure [dbo].[GetStage]    Script Date: 11-06-2022 18:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetStage]
	 
	@Id int = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * From Stage Where ID =isNUll(@Id,ID)
END
 
GO
USE [master]
GO
