<style>form .container {  
    padding: 5px 20px 15px 20px;
  background-color: #f2f2f2;  
  border: 1px solid lightblue;
  border-radius: 4px;
}  
  
 
/* div {  
            padding: 10px 0;  
         }  */
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
}  
.savebtn {  
    outline-style: none;
    outline-width: 0px;
    border-style: none;
    width: 160px;
    height: 40px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 15px;
    color: lightgray;
    background-color: #303030;
    margin-bottom: 25px;
    margin-top: 25px; 
    cursor: pointer;
}  
.cancelbtn{
outline-style: none;
    outline-width: 0px;
    border-style: none;
    width: 160px;
    height: 40px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 15px;
    color: lightgray;
    background-color: #303030;
    margin-bottom: 25px;
    margin-top: 5px; 
    cursor: pointer;

}
.cancelbtn:hover {  
  opacity: 1;  
}  

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 80vh;
    
    margin-left: 200px;
  
    
  

}
.container input{
    outline-style: none;
    outline-width: 0px;
    border-style: none;
    color: #303030;
    width: 300px;
    height: 25px;
    border-radius: 30px;
    
    margin-bottom: 10px;
    font-weight: 500;
}

</style>
<form >  
  <div class="container">  
  <center>  <h1> Settings</h1> </center>  
  <hr>  
  <label> <b>System Name:</b></label>  <br> 
  <input type="text" placeholder="HrSystem" size="25" />  <br> 
  

<label for="email"><b>Email:</b></label>  <br>
 <input type="text" placeholder="abhi@gmail.com"  size="30" required>  <br>
 <label for="email"><b>Phone:</b></label>  <br>
 <input type="text" placeholder="7057701143"  size="30" required>  



<br>
<label for="email"><b>About Us:</b></label>  <br>
<span><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis praesentium id facere aut quo provident illum. Quae, at consequuntur quaerat soluta et amet aliquam nesciunt rem porro nostrum nobis maiores tempora dolore expedita. Pariatur laudantium, nulla alias quis minima in, aperiam recusandae distinctio aliquam vel porro perspiciatis excepturi! Unde, numquam.</p></span>


<button type="save" class="savebtn">Save Changes</button>
<br>
<button type="cancel" class="cancelbtn">Cancel</button>
   
</form> 
