  <div id="design">
        <h2>Design</h2>
        <p>
            Host of amazing designs & templates to choose from an 100 With more design combinations,
            design your own digital card on the go! Enterprises can customise digital cards based on their brand theme,
            logo and colors.
        </p>
    </div>
