    <div id="features">
        <h2>Amazing Featurs</h2>
        <ul>
            <li>tap to contact</li>
            <li>click to share</li>
            <li>website</li>
            <li>Social Media Lins</li>
            <li>share on Gmail</li>
        </ul>
    </div>
    <br />