
    <div class="Content-1" id="home">
        <!-- SECTION HOME CONTENT -->
        <h2>Create Your <strong>Digital Business Card</strong><br /> With Us</h2>
        <p>
            A new-age solution to network, promote and seamlessly connect your business to the digital world!
        </p>
        <a href="./Home/Privacy" class="simple-button"><b>Try It Now!</b></a>
    </div>
