    <div id="price">
       <h2>Pricing</h2>
        
        <h4>Price = 1000 Rs./-</h4>
        <ul>
            <li>Unlimited Shares</li>
            <li>Unlimited Whatsapp shares</li>
            <li>Unlimited Scanning</li>
            <li>Dashboard to Maintain Your Profile</li>
            <li>Professional Networking</li>

        </ul>
    </div>