@model IEnumerable<HREntity.TimeSheet>

@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>

@{
        var timeSheetModel = ViewBag.Model as TimeSheetModel;
        var pageModel = timeSheetModel.PageModel;
    }

<p>
    <a href="~/timeSheet/Edit/0">Create New</a>
</p>

<div id="ajaxHtML">
    @(await Html.PartialAsync("ajax",Model))
 </div>



<script>


//   function getAjaxCall(){
//       let form= document.querySelector("form");
//       let formData= new FormData(form);

//       var obj={};

//       for(var key in formData.keys()){
//           obj[key]=formData.get(key);
//       }

//       $.ajax({
//           url: "/TimeSheet/Index",
//             data: $('form').serialize(),
//             datatype: 'json',
//             method: "Post",
//             type: "Post",
//           success: function(res){
//              document.querySelector("#ajaxHtML").innerHTML=res;
//           },
//           error: function(err){
//               debugger
//           }
//       })
//   }

//    function pageChange(num){
//         event.preventDefault();
//         debugger;
//         document.querySelector("#currentPage").value=num;
//        getAjaxCall();
//    }

//function sort(columnName,orderBy)
//{
//    event.preventDefault();
//    if(orderBy=='asc')
//    {
//        orderBy='desc'
//    }
//    else
//    {
//        orderBy='asc'
//    }
//document.querySelector('#orderBy').value=orderBy;
//document.querySelector('#columnName').value=columnName;


//getAjaxCall();
//}

</script>



