<center><h2>Application List</h2></center>
<center><button type="button" class="btn btn-primary">+ New Applicant</button></center>
<br>
<hr>

<div class="container">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Applicant Information</th>
                <th>Position</th>

            </tr>
        </thead>
        <tbody>
        </tbody>

        <tfoot>
            <tr>
                <th>#</th>
                <th>Applicant Information</th>
                
            </tr>
        </tfoot>
    </table>
</div>





@section Scripts{

    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

    <script>

      
        $(document).ready(function () {

            $.ajax({
                url: '/applications/GetJSonData',
                success: function (data) {
                    fillData(data);
                },
                error: function (err) {

                }
            })


           
        });

        function fillData(data) {
            $('#example').DataTable({
                data: data,
                columns: [
                    { data: 'id' },
                    {
                        data: 'firstName', "render": function (rowData, type, row) {
                            debugger;
                            return `
                        Name : ${row.firstName} </br>
                        LastName ${row.lastName}


`;

                           // row.firstName + ' ' + row.lastName;
                        } },
                    { data: 'lastName' }
                ]
            });
        }
    </script>

}


