 <!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8" />
    <title>Card Studio</title>
    <link rel="stylesheet" href="/css/style_new.css" />
    <style>
        
        .Content-1 {
            text-align: center;
            padding-top: 200px;
        }

        .simple-button {
            padding: 10px 20px;
            background-color: #000;
            color: #fff;
            font-size: 16px;
            font-family: Calibri;
        }
    </style>
</head>
<body>
    <div class="nav">
        <ul>
            <li><a class="active" href="/home">Home</a></li>
            <li><a href="/home/features">Amazing Features</a></li>
            <li><a href="/home/design">Design</a></li>
            <li><a href="/home/price">Pricing</a></li>
            <li><a href="/home/about">Contact Us</a></li>
            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                        </li>
        </ul>
    </div>
            @RenderBody()
       </body>
</html>