
@model List<Vacancy>

<center><h2>Vacancy List</h2></center>
<center><button type="button" class="btn btn-primary">+ New Vacancy</button></center>
<br>
<div class="container">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Vacancy Information</th>
                <th>Document</th>
                <th>Status</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
           




        </tbody>
        <tfoot>
            <tr>
                <th>#</th>
                <th>Vacancy Information</th>
                <th>Document</th>
                <th>Status</th>
                <th>Action</th>

            </tr>
        </tfoot>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
<script>


    $(document).ready(function () {
        $('#example').DataTable({
            
        });
    });
</script>
