<DOCTYPE HTML>
    <html>
    <head>
        <meta lang="en" />
        <link rel="stylesheet" href="C:\Users\Lenovo\Desktop\.Net\New folder\ConsoleApp1\StyleSheet2.css" />
    </head>
    <body>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Design">Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Price">Price</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="Content-1" id="section2">
            <div id="features">
                <h2>Amazing Featurs</h2>
                <ul>
                    <li>tap to contact</li>
                    <li>click to share</li>
                    <li>website</li>
                    <li>Social Media Lins</li>
                    <li>share on Gmail</li>
                </ul>
            </div>
        </div>
        
           
    </body>
</html>
