<DOCTYPE HTML>
    <html>
    <head>
        <meta lang="en" />
        <link rel="stylesheet" href="C:\Users\Lenovo\Desktop\.Net\New folder\ConsoleApp1\StyleSheet2.css" />
    </head>
    <body>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="#section1">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section2">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section3">Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section4">Price</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section5">Contact</a>
                </li>
            </ul>
        </div>
        <div class="Content-1" id="section1">
            <!-- SECTION HOME CONTENT -->
            <h1>Create Your <br /><strong>Digital Business Card</strong><br /> With Us</h1>
            <p>
                A new-age solution to network, promote and seamlessly connect your business to the digital world!
            </p>
            <a href="dummy1.cshtml" class="simple-button"><b>Try It Now!</b></a>
            <br /><br /><br /><br /><br />
        </div>
        <div class="Content-1" id="section2">
            <div id="features">
                <h2>Amazing Featurs</h2>
                <ul>
                    <li>tap to contact</li>
                    <li>click to share</li>
                    <li>website</li>
                    <li>Social Media Lins</li>
                    <li>share on Gmail</li>
                </ul>
            </div>
        </div>
        <div class="Content-1" id="section3">
           
                <h2>Design</h2>
                <p style="text-align:centre; width:50%;">
                    Host of amazing designs & templates to choose from an 100 With more design combinations,
                    design your own digital card on the go! Enterprises can customise digital cards based on their brand theme,
                    logo and colors.
                </p>
            
        </div>
        <div class="Content-1" id="section4">
            <div id="price">
                <h2>Pricing</h2>

                <h4>Price = 1000 Rs./-</h4>
                <ul>
                    <li>Unlimited Shares</li>
                    <li>Unlimited Whatsapp shares</li>
                    <li>Unlimited Scanning</li>
                    <li>Dashboard to Maintain Your Profile</li>
                    <li>Professional Networking</li>

                </ul>
            </div>
        </div>
        <div id="section5" class="container-2">
            <h2>Reach Us</h2>
            <div class="form-container">
                <form action="/action_page.php">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Your name..">

                    <label for="email">email</label>
                    <input type="text" id="email" name="email-id" placeholder="Your email-id..">

                    <label for="subject">Subject</label>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:50px;"></textarea>

                    <input type="submit" value="Submit">
                </form>
            </div>
            </div>
        </div>
    </body>
</html>
