<DOCTYPE HTML>
    <html>
    <head>
        <meta lang="en" />
        <link rel="stylesheet" href="C:\Users\Lenovo\Desktop\.Net\New folder\ConsoleApp1\StyleSheet2.css" />
    </head>
    <body>
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Design">Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Price">Price</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Contact">Contact</a>
                </li>
            </ul>
        </div>
        
        <div class="Content-1" id="section4">
            <div id="price">
                <h2>Pricing</h2>

                <h4>Price = 1000 Rs./-</h4>
                <ul>
                    <li>Unlimited Shares</li>
                    <li>Unlimited Whatsapp shares</li>
                    <li>Unlimited Scanning</li>
                    <li>Dashboard to Maintain Your Profile</li>
                    <li>Professional Networking</li>

                </ul>
            </div>
        </div>
        
    </body>
</html>
