

    <div class="login__page">
        <img class="profile__image" src="bg2.jpg" alt="">
        <h2>Admin Login</h2>
        <form>
            <input type="text" placeholder="User Name" />
            <input type="password" placeholder="Password" />
            <button>Login</button>
            <p>Forgot Username / Password?</p>
        </form>
    </div>
